#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}
.btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn button {
  border-radius: 10px;
  border: none;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #f84242;
  cursor: pointer;
  color: #fff;
}
.btn button:hover {
  background-color: red;
}
.btn button:active {
  color: #4f4ffae8;
}